
apptest1/apptest1/obj/Debug/Settings.g.i.cs
apptest1/apptest1/obj/Debug/Settings.g.cs
apptest1/apptest1/obj/Debug/Settings.baml
apptest1/apptest1/obj/Debug/MainWindow.g.i.cs
apptest1/apptest1/obj/Debug/MainWindow.g.cs
apptest1/apptest1/obj/Debug/MainWindow.baml
apptest1/apptest1/obj/Debug/Features.g.i.cs
apptest1/apptest1/obj/Debug/Features.g.cs
apptest1/apptest1/obj/Debug/Features.baml
apptest1/apptest1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
apptest1/apptest1/obj/Debug/apptest1_MarkupCompile.lref
apptest1/apptest1/obj/Debug/apptest1_MarkupCompile.i.cache
apptest1/apptest1/obj/Debug/apptest1_MarkupCompile.cache
apptest1/apptest1/obj/Debug/apptest1.pdb
apptest1/apptest1/obj/Debug/apptest1.g.resources
apptest1/apptest1/obj/Debug/apptest1.exe.manifest
apptest1/apptest1/obj/Debug/apptest1.exe
apptest1/apptest1/obj/Debug/apptest1.csprojResolveAssemblyReference.cache
apptest1/apptest1/obj/Debug/apptest1.csproj.GenerateResource.Cache
apptest1/apptest1/obj/Debug/apptest1.csproj.FileListAbsolute.txt
apptest1/apptest1/obj/Debug/apptest1.csproj.CoreCompileInputs.cache
apptest1/apptest1/obj/Debug/apptest1.application
apptest1/apptest1/obj/Debug/Appearance.g.i.cs
apptest1/apptest1/obj/Debug/Appearance.g.cs
apptest1/apptest1/obj/Debug/Appearance.baml
apptest1/apptest1/obj/Debug/App.g.i.cs
apptest1/apptest1/obj/Debug/App.g.cs
apptest1/apptest1/obj/Debug/App.baml
apptest1/apptest1/bin/Debug/apptest1.pdb
apptest1/apptest1/bin/Debug/apptest1.exe.manifest
apptest1/apptest1/bin/Debug/apptest1.exe
apptest1/apptest1/bin/Debug/apptest1.application
apptest1/apptest1/bin/Debug/app.publish/apptest1.exe
apptest1/.vs/apptest1/v15/Server/sqlite3/storage.ide-wal
apptest1/.vs/apptest1/v15/Server/sqlite3/storage.ide-shm
apptest1/.vs/apptest1/v15/Server/sqlite3/storage.ide
apptest1/.vs/apptest1/v15/.suo
